{% block content %}
<h4> Results display</h4>
<div class = "col-md-6">
    <div class="panel panel-primary">
                <div class="panel-heading">
                <h4 class="panel-title">
                    {% if content_title  %}
                        {{ content_title }}
                    {% endif %}
                </h4>
                 </div>
                <div class="panel-body">
                {% if content_items %}
                <ul class="list-group">
                {% for row in content_items %}
                <li class="list-group-item">
                    <span>
                    {% for key in row.keys() %}
                        {%  if key!='latest' %}
                            {% if row.get(key) is integer %}
                                {% if row.get(key) >1000000 %}
                                     <span><span class="badge">{{key}} {{ '%0.2f' % (row.get(key)/1000/1000) }} M </span></span>
                                {% elif row.get(key) > 1000 %}
                                    <span><span class="badge">{{key}} {{ '%0.2f' % (row.get(key)/1000) }} K </span></span>
                                {% else %}
                                        <span><span class="badge">{{key}} {{ '%0.2f' % row.get(key) }}  </span></span>
                                {% endif %}
                            {% elif row.get(key) is float %}
                                <span><span class="badge">{{key}} {{ '%0.2f' % row.get(key) }}</span></span>
                            {% else %}
                                <span ><span  class="badge pull-left" style="font-size:1.62rem;  margin-right: 10px;" >{{ row.get(key) }}</span></span>
                            {% endif %}
                        {%  endif  %}
                    {% endfor %}
                    </span>
                    </li>
                {% endfor %}
               </ul>
                {% endif %}
                </div>
                <div class="panel-footer">
                    <span>
                        <a class="label label-info pull-right" href="https://ccp.jhu.edu/kap-covid/">Source: covid19_jhu_csse_eu.summary</a>
                    </span>
                </div>
            </div>
</div>
{% endblock %}

